/* Reset default margins and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Your global styles here */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 24px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.nav-links li a:hover {
  color: #e44d26;
}

.product-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  max-height: 400px;
  transition: transform 0.2s ease-in-out;
}

.product-card:hover {
  transform: translateY(-10px);
}

.product-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px;
}

.product-image {
  text-align: center;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-image img {
  max-width: 80%;
  max-height: 100%;
  display: block;
  width: auto;
  height: auto;
}

.product-details {
  padding: 10px;
}

.product-name {
  font-size: 19px;
  color: #333;
  margin-top: 10px;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end; /* Align to the right */
}

.product-price {
  font-size: 15px;
  color: #212121;
  margin-top: 5px;
  text-align: right; /* Align price to the right */
}

.product-category {
  font-size: 10px;
  color: #212121;
  margin-top: 5px;
}

.add-to-cart {
  background-color: #2a45de;
  color: #fff;
  border: none;
  padding: 6px;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 12px;
}

.add-to-cart:hover {
  background-color: #ff6600;
}
