body{
    font-family: 'Times New Roman', Times, serif;
    color: #333;
    margin: 0;
    padding: 0;
    background-image: url(perfume_bg.jpg);
    font-family: Arial, sans-serif;
}
h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

header {
    background-color: #9738e5;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}
nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    border: 2px solid transparent; /* Add a transparent border to start with */
    padding: 5px 10px; /* Add some padding to make the link area larger */
    border-radius: 5px; /* Add rounded corners to the border */
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out; /* Add transitions */
}

nav a:hover {
    color: #f8c71c; /* Change the color on hover */
    border-color: #f8c71c; /* Change the border color on hover */
}

footer {
    background-color: #9738e5;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* ... SignUp ... */

/* ... (previous code) ... */
.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(perfume_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f9f9f9;
}

   
.registration-box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 40px;
    width: 350px;
}

.registration-box h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

#registration-form input {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
    color: #333;
}

#registration-form button {
    background-color: #9738e5;
    color: #fff;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-weight: bold;
    letter-spacing: 1px;
}

#registration-form button:hover {
    background-color: #45a049;
}
/* ... (rest of the code) ... */








/*
    Link
*/

.links {
    margin-top: 20px;
}

.links a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.links a:hover {
    color: #45a049;
}

.links span {
    margin: 0 10px;
    color: #999;
}